@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
}

.custom-style-list ul li {
  list-style: disc !important;
}

.ProseMirror {
  padding-top: 0px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.ProseMirror .is-editor-empty {
  color: rgb(71 85 105) !important;
  font-weight: 500;
}

.mantine-InputBase-input .inside-hidden {
  display: none !important;
}
